/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/artworks/[id]/ArtworkDetails.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.ArtworkDetails_container__t6IaF {
    /* text-align: center; */
    padding: 40px 70px 0px 70px;
    margin: 20px;
}

.ArtworkDetails_title__9tLKq {
    font-size: 2rem;
    color: #333;
}

.ArtworkDetails_year__RPVlA {
    margin-bottom: 40px;
}

.ArtworkDetails_markdown__O6095 {
    text-align: left;
    line-height: 1.6;
}

.ArtworkDetails_img__BFi8V {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.ArtworkDetails_markdown__O6095 p {
    margin-bottom: 1.5em;
}

.ArtworkDetails_link__YvQct {
    color: #0070f3;
    text-decoration: none;
    /* リンクの下線を消す */
}

.ArtworkDetails_link__YvQct:hover {
    text-decoration: underline;
    /* ホバー時に下線を表示 */
}

.ArtworkDetails_image__w7Kp1 {
    width: 500px;
}
